<section class="l-pageGuest" id="js-scroll-02">
  <h3 class="c-common-headline c-common-headline--guest">解説・実況者 一覧</h3>
  <div class="c-pageGuest">
    <ul class="c-guestList">
      <li class="c-guestList__item c-guestList__item--text">
        <p class="c-guestList__title">解説</p>
      </li>
      <% for (var i = 0; i < commentator.length; i++) { %>
      <li class="c-guestList__item">
        <% if (commentator[i].text) { %>
        <div class="js-dialog">
          <button class="js-dialog-open c-guestList__dialog">
            <div class="c-guestList__image">
              <img alt="<%= commentator[i].name %>" src="/img/special/camp-report2026/<%= commentator[i].image %>" width="148" height="125"/>
              <p class="c-guestList__text"><%= commentator[i].name %></p>
            </div>
          </button>
          <dialog class="js-dialog-content m-widget-dialog">
            <div class="m-widget-dialog__outer">
              <button class="js-dialog-close m-widget-dialog__close"><span>閉じる</span></button>
              <div class="m-widget-dialog__content">
                <img alt="<%= commentator[i].name %>" src="/img/special/camp-report2026/<%= commentator[i].image %>" />
                <b class="m-widget-dialog__heading"><%= commentator[i].name %></b>
                <p class="m-widget-dialog__text"><%- commentator[i].text %></p>
              </div>
            </div><!-- /.m-widget-dialog__outer -->
          </dialog>
        </div>
        <% } else { %>
        <div class="c-guestList__image c-guestList__image--noicon">
          <img alt="<%= commentator[i].name %>" src="/img/special/camp-report2026/<%= commentator[i].image %>" width="148" height="125"/>
          <p class="c-guestList__text"><%= commentator[i].name %></p>
        </div>
        <% } %>
      </li>
      <% } %>
    </ul>
    <ul class="c-guestList">
      <li class="c-guestList__item c-guestList__item--text">
        <p class="c-guestList__title">実況</p>
      </li>
      <% for (var i = 0; i < announcer.length; i++) { %>
      <li class="c-guestList__item">
        <% if (announcer[i].text) { %>
        <div class="js-dialog">
          <button class="js-dialog-open c-guestList__dialog">
            <div class="c-guestList__image">
              <img alt="<%= announcer[i].name %>" src="/img/special/camp-report2026/<%= announcer[i].image %>" width="148" height="125"/>
              <p class="c-guestList__text"><%= announcer[i].name %></p>
            </div>
          </button>
          <dialog class="js-dialog-content m-widget-dialog">
            <div class="m-widget-dialog__outer">
              <button class="js-dialog-close m-widget-dialog__close"><span>閉じる</span></button>
              <div class="m-widget-dialog__content">
                <img alt="<%= announcer[i].name %>" src="/img/special/camp-report2026/<%= announcer[i].image %>" />
                <b class="m-widget-dialog__heading"><%= announcer[i].name %></b>
                <p class="m-widget-dialog__text"><%- announcer[i].text %></p>
              </div>
            </div><!-- /.m-widget-dialog__outer -->
          </dialog>
        </div>
        <% } else { %>
        <div class="c-guestList__image c-guestList__image--noicon">
          <img alt="<%= announcer[i].name %>" src="/img/special/camp-report2026/<%= announcer[i].image %>" width="148" height="125"/>
          <p class="c-guestList__text"><%= announcer[i].name %></p>
        </div>
        <% } %>
      </li>
      <% } %>
    </ul>
  </div>
</section>
<!-- /.l-pageGuest -->
<!-- /.l-pageGuest -->

<section class="l-pageCampaign" id="js-scroll-campaign">
  <h3 class="c-common-headline c-common-headline--campaign">宜野座＆うるま イベントブース</h3>
  <div class="un-campaign">
    <div class="un-campaign-head">
      <p class="un-campaign-lead">阪神タイガース×スカイＡ Spring Camp</p>
      <b class="un-campaign-heading">宜野座＆うるま（具志川）イベントブース2026 キャンペーン</b>
      <div class="un-campaign-head-sub">
        <div class="un-campaign-head-sub-term">開催期間 ： 2月1日（日）～キャンプ終了日まで</div>
        <span class="un-campaign-head-sub-note">※休養日を除く</span>
      </div>
    </div>
    <div class="un-campaign-content">
      <div class="un-campaign-content__image">
        <img src="/img/special/camp-report2026/image_spring-camp2026.jpg" alt="" class="un-campaign-content__logo">
        <a href="https://x.com/skya_baseball" target="_blank" class="un-campaign-content__x">
          <img src="/img/special/camp-report2026/icon_skya_baseball.png" alt="スカイA 野球部公式X（@skya_baseball）" class="un-campaign-content__product"> スカイA 野球部 公式X
          <br>（@skya_baseball）
        </a>
      </div>
      <div class="un-campaign-content__detail">
        <div class="un-campaign-content__detail__heading">
          <p class="un-campaign-content__detail__heading__place">
            宜野座村野球場
            <span>［バイトするならエントリー宜野座スタジアム］</span>
          </p>
          <h4 class="un-campaign-content__detail__heading__title">
            選手たちへエールを贈ろう!<br>
            「応援メッセージ寄せ書きボード」
          </h4>
        </div>
        <div class="un-campaign-content__detail__body">
          <div class="un-campaign-content__detail__information is-attention">
            <p>
              <img src="/img/special/camp-report2026/image_point.png" alt="" width="66" height="52">
            </p>
            <p>寄せ書きにご参加いただき、下記応募条件を満たした方の中から後日抽選で<br>
			「<span class="is-note">タイヤホイールプレミアム Presents 猛虎キャンプリポート解説陣のサイン入りグッズ</span>」をプレゼント！</p>
          </div>
			<p>「選手へ届け！応援メッセージ寄せ書きX投稿キャンペーン」</p>
			<p>【プレゼント応募方法】</p>
            <ul>
              <li>「応援メッセージ寄せ書きボード」に選手への熱いメッセージを書いて、ご自身のスマートフォンで撮影</li>
              <li>「<a href="https://x.com/skya_baseball" target="_blank">スカイA野球部公式X</a>」をフォロー （<a href="https://x.com/skya_baseball" target="_blank">https://x.com/skya_baseball</a>）</li>
              <li>Xに写真とハッシュタグ「#スカイA宜野座ブース」をつけて投稿</li>
              <li>後日抽選で「タイヤホイールプレミアム Presents 猛虎キャンプリポート解説陣のサイン入りグッズ」をプレゼント</li>
            </ul>
            <p>※詳しくは現地スタッフまでお尋ねください。<br>
              <strong class="is-note">※宜野座ブースでのトートバッグ配布はございません</strong></p>
        </div>
      </div>
    </div>
    <div class="un-campaign-content">
      <div class="un-campaign-content__image">
        <img src="/img/special/camp-report2026/photo_toto-bag.png" alt="" class="un-campaign-content__logo">
      </div>
      <div class="un-campaign-content__detail">
        <div class="un-campaign-content__detail__heading">
          <p class="un-campaign-content__detail__heading__place">
            うるま市具志川野球場
          </p>
          <h4 class="un-campaign-content__detail__heading__title">
            春季キャンプ限定<br>
            オリジナルトートバッグをゲットしよう!
          </h4>
        </div>
        <div class="un-campaign-content__detail__body">
          <div class="un-campaign-content__detail__information">
            <p><span class="is-note">先着<em>12,000</em>名様</span>にプレゼント!</p>
          </div>
        </div>
        <dl class="un-campaign-dl">
          <div class="un-campaign-dl__item">
            <dt>【入手方法】</dt>
            <dd>うるま市具志川野球場のスカイAイベントブースにて配布いたします。商品は無くなり次第終了となります。<br>
              <strong class="is-note">※配布は「お一人様1点限り」となります。</strong><br>
              ※画像はイメージです。</dd>
          </div>
          <div class="un-campaign-dl__item">
            <dt>【MAP】</dt>
            <dd>
              <ul class="un-campaign-map">
                <li class="un-campaign-map__item">
                  <b class="un-campaign-map__heading">沖縄・宜野座キャンプ</b>
                  <div class="js-dialog">
                    <button class="js-dialog-open un-campaign-map__button">
                      <div class="un-campaign-map__image">
                        <img alt="宜野座村野球場【エントリー宜野座スタジアム】の地図" src="/img/special/camp-report2026/map_ginoza.png" />
                      </div>
                    </button>
                    <dialog class="js-dialog-content m-widget-dialog">
                      <div class="m-widget-dialog__head">
                        <b class="m-widget-dialog__title">宜野座村野球場<br>【エントリー宜野座スタジアム】</b>
                      </div>
                      <div class="m-widget-dialog__outer">
                        <button class="js-dialog-close m-widget-dialog__close"><span>閉じる</span></button>
                        <div class="m-widget-dialog__content">
                          <img alt="宜野座村野球場【エントリー宜野座スタジアム】の地図" src="/img/special/camp-report2026/map_ginoza.png" />
                        </div>
                      </div>
                      <!-- /.m-widget-dialog__outer -->
                    </dialog>
                  </div>
                  <p class="un-campaign-map__lead">宜野座村野球場
                    <br>【エントリー宜野座スタジアム】</p>
                </li>
                <!-- /.un-campaign-map__item -->
                <li class="un-campaign-map__item">
                  <b class="un-campaign-map__heading">沖縄・うるま（具志川）キャンプ</b>
                  <div class="js-dialog">
                    <button class="js-dialog-open un-campaign-map__button">
                      <div class="un-campaign-map__image">
                        <img alt="うるま市具志川野球場の地図" src="/img/special/camp-report2026/map_uruma.png" />
                      </div>
                    </button>
                    <dialog class="js-dialog-content m-widget-dialog">
                      <div class="m-widget-dialog__head">
                        <b class="m-widget-dialog__title">うるま市具志川野球場</b>
                      </div>
                      <div class="m-widget-dialog__outer">
                        <button class="js-dialog-close m-widget-dialog__close"><span>閉じる</span></button>
                        <div class="m-widget-dialog__content">
                          <img alt="うるま市具志川野球場の地図" src="/img/special/camp-report2026/map_uruma.png" />
                        </div>
                      </div>
                      <!-- /.m-widget-dialog__outer -->
                    </dialog>
                  </div>
                  <p class="un-campaign-map__lead">うるま市具志川野球場</p>
                </li>
                <!-- /.un-campaign-map__item -->
              </ul>
            </dd>
          </div>
        </dl>
        <p class="un-campaign-content__note">※<span class="un-campaign-content__noteIcon">★</span>がスカイAブースの場所ですが変更となる場合がございます。</p>
      </div>
    </div>
  </div>
  <!-- /.un-campaign -->
</section>
<!-- /.l-pageCampaign -->
<section class="l-pageGift" id="js-scroll-03">
  <h3 class="c-common-headline c-common-headline--gift">プレゼント情報</h3>
  <div class="c-pageGift">
    <div class="c-pageGift__content">
      <div class="c-pageGift__image">
        <a href="https://sky-a.asahi.co.jp/present/"><img alt="【春季キャンプ・第6クール】選手・コーチ直筆サイン入り春季キャンプグッズをプレゼント！" src="/img/special/camp-report2026/image_present.jpg" /></a>
      </div>
      <div class="c-pageGift__text">
        <h4 class="c-pageGift__title">沖縄でトレーニングに励む猛虎戦士たちの<br class="pc-only">直筆サイン入りグッズなど多数ラインナップ予定！</h4>
        <div class="c-pageGift__button">
          <a href="https://sky-a.asahi.co.jp/present/" class="m-button-type2"><span class="m-button-type2__text">ご応募はこちら</span></a>
        </div>
      </div>
    </div>
  </div>
  <!-- /.c-pageGift --->
</section>
<!-- /.l-pageGift -->
<section class="l-pageProgram" id="js-scroll-04">
  <h3 class="c-common-headline c-common-headline--contents">阪神タイガース関連番組</h3>

  <div class="c-pageProgram">
    <article class="c-commonProgram">
      <h4 class="c-commonProgram__title">スカイＡ猛虎中継</h4>
      <div class="c-commonProgram__content">
        <div class="c-commonProgram__image c-commonProgram__image--large">
          <img alt="「シン・猛虎中継」始動。" src="/img/special/camp-report2026/image_program_01.jpg" />
        </div>
      </div>
    </article>
    <!-- /.c-commonProgram -->

    <article class="c-commonProgram">
      <h4 class="c-commonProgram__title">「虎ヲタ」～知ればアナタも人気者～</h4>
      <div class="c-commonProgram__content">
        <div class="c-commonProgram__image">
          <a href="/category/tigers/1000033/"><img alt="知ればアナタも人気者「虎ヲタ」" src="/img/special/camp-report2026/image_program_02.jpg" /></a>
        </div>
        <div class="c-commonProgram__detail">
          <p class="c-commonProgram__text">
            阪神タイガース情報バラエティ「虎ヲタ」！
            <br> ますだおかだ増田と阪神OB関本賢太郎氏がタイガースにゆかりのあるゲストとマニアックな虎トークをお届け！「知らんかった！」「ホンマかいな？」とツッコミながらごゆるりとお楽しみください。
          </p>
          <p class="c-commonProgram__text">
            出演：増田英彦（ますだおかだ）、関本賢太郎（阪神タイガースOB）
          </p>
        </div>
      </div>
    </article>
    <!-- /.c-commonProgram -->

    <article class="c-commonProgram">
      <h4 class="c-commonProgram__title">「トラリンクTV」</h4>
      <div class="c-commonProgram__content">
        <div class="c-commonProgram__image">
          <a href="/category/tigers/1000033/"><img alt="「トラリンクTV」" src="/img/special/camp-report2026/image_program03.jpg" /></a>
        </div>
        <div class="c-commonProgram__detail">
          <p class="c-commonProgram__text">元阪神タイガース投手で俳優の嶋尾康史がお届けする、野球・タイガーストーク番組。<br>
            1970年代後半から90年代を中心にプロ野球界隈の出来事を懐古する。<br>
            出演：嶋尾康史、とこわか吾郎 ほか</p>
        </div>
      </div>
    </article>
    <!-- /.c-commonProgram -->
  </div>
  <!-- /.c-pageProgram -->
</section>
<!-- /.l-pageProgram -->

<section class="l-pageSponsor">
  <h2 class="m-heading-type02"><span>猛虎キャンプリポート2026<br>スポンサーのご紹介</span></h2>
  <div class="un-sponsor">
    <div class="un-sponsor-heading">
      <a href="https://www.tirewheel-ec.com/" target="_blank"><img src="/img/special/camp-report2026/title02.png"></a>
    </div>
    <dl class="un-sponsor-dl">
      <dt>コハラゴム株式会社</dt>
      <dd>
        コハラゴム株式会社は、1950年に兵庫県神戸市で創業。
        <br> 国内外の有名ブランドタイヤを多数扱う通販サイト「タイヤホイールプレミアム」を運営しているタイヤ販売・卸売会社です。
        <br> 「タイヤホイールプレミアム」は、完全屋内倉庫保管のタイヤを低価格、即日発送、製造年表記、全国送料無料で
        <br class="pc-only">お客様にお届けしております。
        <br> 神戸店、三田店、加古川店の直営3店舗も展開中。
      </dd>
    </dl>
    <div class="un-sponsor-link"><a href="https://www.tirewheel-ec.com/" target="_blank">詳細はこちら</a></div>
    <div class="un-sponsor-content">
      <div class="un-sponsor-content__movie">
        <iframe width="452" height="254" src="https://www.youtube.com/embed/Ri7NqRwjdMM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div>
      <div class="un-sponsor-content__icon">
        <a href="https://www.tirewheel-ec.com/" target="_blank"><img src="/img/special/camp-report2026/icon-sponsor01.png" alt="TIRE Wheel"></a>
      </div>
      <div class="un-sponsor-content__sns">
        <b class="un-sponsor-content__snsHeading"><img src="/img/special/camp-report2026/text01.png" alt="follow us"></b>
        <p class="un-sponsor-content__snsText">タイヤホイールプレミアム
          <br>公式SNS</p>
        <ul class="m-list-sns">
          <li class="m-list-sns__item">
            <a href="https://x.com/TirePremium" target="_blank"><img alt="X" src="/img/special/camp-report2026/icon-sns01.png"></a>
          </li>
          <li class="m-list-sns__item">
            <a href="https://www.instagram.com/tirewheelpremium_/" target="_blank"><img alt="Instagram" src="/img/special/camp-report2026/icon-sns02.png"></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- /.un-sponsor -->
  <ul class="m-list-article">
    <li class="m-list-article__item">
      <div class="m-list-article__image">
        <a href="https://iki-iki-online.jp/" target="_blank"><img alt="いきいき通販 国内最大級の福祉施設入居者様の「買い物代行業務支援サービス」です。" src="/img/special/camp-report2026/banner02.jpg" /></a>
      </div>
      <div class="m-list-article__content">
        <b class="m-list-article__heading">株式会社ワンステップ</b>
        <p class="m-list-article__text">いきいき通販は、国内最大級の福祉施設入居者様の「買い物代行業務支援サービス」です。全国で約6,000施設様にご利用いただいています。荷物は入居者様ごとに小分け梱包、送料は弊社負担。食料品・チルド食品から日用品まで、約5,000アイテムを取り揃えています。</p>
        <div class="m-list-article__link"><a href="https://iki-iki-online.jp/" target="_blank">詳細はこちら</a></div>
      </div>
    </li>
    <li class="m-list-article__item">
      <div class="m-list-article__image">
        <a href="https://www.inss.jp/" target="_blank"><img alt="インシュアランスサービス" src="/img/special/camp-report2026/banner03.jpg" /></a>
      </div>
      <div class="m-list-article__content">
        <b class="m-list-article__heading">株式会社インシュアランスサービス</b>
        <p class="m-list-article__text">「保険会社の代理人ではなく、お客様の代理人である」を経営理念とし1975年に創業。法人向けリスクマネジメント・コンサルティングを中心に、従来の保険に留まらない幅広いサービスでお客様のリスクに対応しています。</p>
        <div class="m-list-article__link"><a href="https://www.inss.jp/" target="_blank">詳細はこちら</a></div>
      </div>
    </li>
    <li class="m-list-article__item">
      <div class="m-list-article__image">
        <a href="https://www.did-daido.co.jp/" target="_blank"><img alt="大同工業株式会社" src="/img/special/camp-report2026/banner04.jpg" /></a>
      </div>
      <div class="m-list-article__content">
        <b class="m-list-article__heading">大同工業株式会社</b>
        <p class="m-list-article__text">大同工業は、バイクチェーンで世界トップシェアを誇り、産業機械や福祉機器分野をはじめ幅広い事業を展開。
          <br> 2026年1月1日、大阪に本社を置く機械メーカー椿本チエインと経営統合し、つばきグループの一員として次の成長ステージへ進みます。
        </p>
        <div class="m-list-article__link"><a href="https://www.did-daido.co.jp/" target="_blank">詳細はこちら</a></div>
      </div>
    </li>
  </ul>
</section>
<!-- /.l-pageSponsor -->